*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

main, header{
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
}

.top-text{
    text-align: center;
}

header h1{
    font-size: 3rem;
    color: #E53170;
    margin: 30px 0;
}

header p{
    font-size: 1.25rem;
    margin-bottom: 20px;
}