*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

main, header{
    width: 80%;
    margin: 0 auto;
}

/* HEADER RULES */
.top-text{
    text-align: center;
}

header{
    margin-bottom: 100px;
}

header h1{
    font-size: 3rem;
    color: #E53170;
    margin: 70px 0;
}

header p{
    font-size: 1.25rem;
}

/* MAIN RULES */
.labels-container{
    width: 100%;
}


section.labels-container > :nth-child(2){
    margin-top: 50px;
}

.row-container{
    width: 100%;
}

div.row-container > :nth-child(2){
    margin-left: 5%;
}

.label{
    width: 30%;
    height: 100px;
    box-shadow:  0 0 2px 2px rgba(0, 0, 0, 0.5);
}

img{
    width: 30%;
    height: 100%;
}

.info-label{
    width: 70%;
    height: 100%;
    background-color: #0F0E17;
    color: white;
}

.name, .job, .email{
    padding: 11px 0 0 15px;
}


.name{
    font-size: 1em;
}

.email{
    font-size: 1em;
    color: #68CBDC;
}

